@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease;
  color: #fff;
}
a {
  text-decoration: none;
}
:root {
  --ligth-text: #fff;
  --pr-color: #09f;
  --font-s-title-movil: 1.5rem;
  --font-s-text-movil: 1rem;
}
body {
  background: black;
  color: var(--ligth-text);
  max-width: 100vw;
  min-height: 100vh;
  transition: none;
}
body::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--pr-color);
}

/* Style for Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 7%;
  position: relative;
  background: #000;
}
.nav-name {
  font-size: 1.3rem;
  font-weight: 600;
}
.nav-name span {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--pr-color);
}
.nav .nav-ul {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: none;
}
.nav .nav-ul .nav-link {
  text-decoration: none;
  color: var(--ligth-text);
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
}
.nav .nav-ul .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  right: 0;
  background: var(--pr-color);
  border-radius: 5px;
  scale: 0;
  transition: 0.3s ease;
}
.nav button {
  background: transparent;
  border: none;
}
.nav button i {
  font-size: 1.5rem;
  color: #fff;
}
.nav .nav-ul .nav-link:hover::after {
  scale: 1;
}
.nav .menu {
  position: absolute;
  content: "";
  scale: 0;
  width: 175px;
  height: 175px;
  right: -200px;
  bottom: -175px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #0005;
  backdrop-filter: blur(10px);
}
.nav .menu.active {
  right: 20px;
  scale: 1;
}
.nav-ul-movile {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
/* Media Query for Navbar */
@media only screen and (min-width: 768px) {
  .nav {
    padding: 3rem 3rem;
  }
  .nav .nav-ul {
    display: flex;
  }
  .nav .nav-ul .nav-link {
    padding: 0.5rem 1rem;
  }
  .nav button {
    display: none;
  }
}
@media only screen and (min-width: 1100px) {
  .nav {
    padding: 3rem 8rem;
  }
}

/* Style for Banner */
.banner {
  height: 450px;
  width: 100%;
}
.banner .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 50px 0;
}
.banner .container h1 {
  /* font-size: 3rem; */
  font-size: var(--font-s-title-movil);
  text-align: center;
  font-weight: 700;
}
.banner .container h1 span {
  /* font-size: 3rem; */
  font-size: var(--font-s-title-movil);
  display: inline-block;
  font-weight: 900;
  color: var(--pr-color);
}
.banner .container h2 {
  font-size: var(--font-s-text-movil);
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}
.banner .container .avatar {
  aspect-ratio: 1/1;
  max-width: 17rem;
  width: 40%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 10px var(--pr-color);
}
.banner .container .avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* Media Query for Banner */
@media only screen and (min-width: 768px) {
  .banner {
    height: 550px;
  }
  .banner .container h1 {
    font-size: 2.3rem;
  }
  .banner .container h1 span {
    font-size: 2.3rem;
  }
  .banner .container h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1100px) {
  .banner {
    height: 650px;
  }
  .banner .container h1 {
    font-size: 3rem;
  }
  .banner .container h1 span {
    font-size: 3rem;
  }
  .banner .container h2 {
    font-size: 1.5rem;
  }
}

/* Style for About */
.about {
  height: 400px;
  width: 100%;
  background: var(--pr-color);
  border-color: #fff;
  border-style: solid;
  border-width: 2px 0;
}
.about .container {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.about .about-title {
  font-size: var(--font-s-title-movil);
  font-weight: 700;
  text-align: center;
}
.about .about-text {
  font-size: var(--font-s-text-movil);
  font-weight: 400;
  text-align: center;
}

/* Media Query for About */
@media only screen and (min-width: 768px) {
  .about {
    height: 450px;
  }
  .about .about-title {
    font-size: 1.9rem;
  }
  .about .about-text {
    font-size: 1.1rem;
  }
  .about .container {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 1100px) {
  .about .container {
    padding: 0 40%;
  }
  .about .about-title {
    font-size: 2.5rem;
  }
  .about .about-text {
    font-size: 1.4rem;
  }
  .about .container {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 1300px) {
  .about .container {
    padding: 0 30%;
  }
}

.continuara {
  height: 20vh;
}
.continuara .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10rem;
}
.continuara .container h1 {
  font-size: 3rem;
  font-weight: 900;
}
